*{
  margin: 0;
  padding: 0;
}
nav{
  position: relative;
}
nav span{
  position: absolute;
  top: 50px;
  left: 350px;
  font-size: 25px;
  font-weight: bolder;
  color: #c01920;
}
nav img{
  max-width: 100%;
}
.navv{
  min-width: 1200px;
  height: 50px;
  font-size: 0px;
  line-height: 50px;
  background-color: #f1a750;
}
.navv a{
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  width: 14%;
  color: #fff;
  text-align: center;
}
.accc{
  background-color: #e87528;
}
.navv a:hover{
  background-color: #e87528;
  text-decoration: none;
}
#back{
  position: fixed;
  right: 50px;
  bottom: 50px;
  padding: 10px 12px;
  background: #ccc;
  border: 0px;
  border-radius: 5px;
}
.wrap{
  width: 1200px;
  margin: 0 auto;
}
h2{
  margin-bottom: 50px;
}
.daoyu{
  text-indent: 2em;
  margin: 10px 0;
}
h4{
  margin: 30px 0;
}
form{
  width: 600px;
  margin: 50px auto;
}
form p{
  margin-bottom: 20px;
}
